data/*
.env

te.py

__pycache__/*
*/__pycache__/*
*/*/__pycache__/*

*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

experiments/.DS_Store

experiments/*/*.pt
experiments/*
datasets/
files/*
!files/configs/

files/configs/fix.yaml

mnt/
exports/dataset_viewer/all_samples.png
exports/julian_day_enc/julian_day.png
exports/transformer_plots/2d_vectors_and_relative.png
exports/model_evaluation/model_train_compare.png
exports/model_evaluation/model_train_seq.png
exports/model_evaluation/benchmarks.parquet
exports/model_evaluation/lead_lift.png
exports/model_evaluation/seq_lift.png
exports/model_evaluation/figs/model_seq_compare.png
exports/model_evaluation/figs/model_train_compare.png
exports/model_evaluation/figs/rolling_evaluation_metrics.png
exports/model_evaluation/figs/seq_lift.png
exports/model_evaluationfigs/seq_ece.png
exports/model_evaluation/figs/lift_lead.png
exports/model_evaluation/figs/lift_samp.png
exports/ablation/ablation_mse_mae.png
exports/ablation/seasonal_implicit_trend.png
