data/*
.env

te.py

__pycache__/*
*/__pycache__/*
*/*/__pycache__/*

*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

experiments/.DS_Store

experiments/*/*.pt
experiments/*
datasets/
files/*
!files/configs/

files/configs/fix.yaml

mnt/
exports/dataset_viewer/all_samples.png
exports/julian_day_enc/julian_day.png
exports/transformer_plots/2d_vectors_and_relative.png
exports/model_evaluation/model_train_compare.png
exports/model_evaluation/model_train_seq.png
exports/model_evaluation/benchmarks.parquet
exports/model_evaluation/lead_lift.png
exports/model_evaluation/seq_lift.png
exports/model_evaluation/figs/model_seq_compare.png
exports/model_evaluation/figs/model_train_compare.png
exports/model_evaluation/figs/rolling_evaluation_metrics.png
exports/model_evaluation/figs/seq_lift.png
exports/model_evaluationfigs/seq_ece.png
exports/model_evaluation/figs/lift_lead.png
exports/model_evaluation/figs/lift_samp.png
exports/ablation/ablation_mse_mae.png
exports/ablation/seasonal_implicit_trend.png
exports/tsne/tsne_glob.png
exports/tsne/tsne_patch_track.png
exports/seasonal_prediction/season_pred.png
report/thesis/draw_io/architecture.drawio
report/thesis/draw_io/timeframes.drawio
report/thesis/draw_io/zarr.drawio
report/thesis/draw_io/zarr.html
report/thesis/draw_io/zarr_files/api.js
report/thesis/draw_io/zarr_files/app.min.js
report/thesis/draw_io/zarr_files/asciimath.js
report/thesis/draw_io/zarr_files/bootstrap.js
report/thesis/draw_io/zarr_files/cb=gapi.loaded_0
report/thesis/draw_io/zarr_files/common.css
report/thesis/draw_io/zarr_files/core.js
report/thesis/draw_io/zarr_files/Dropbox-sdk.min.js
report/thesis/draw_io/zarr_files/dropins.js
report/thesis/draw_io/zarr_files/extensions.min.js
report/thesis/draw_io/zarr_files/github-logo.svg
report/thesis/draw_io/zarr_files/grapheditor.css
report/thesis/draw_io/zarr_files/high-contrast.css
report/thesis/draw_io/zarr_files/main.js
report/thesis/draw_io/zarr_files/OneDrive.js
report/thesis/draw_io/zarr_files/pusher.min.js
report/thesis/draw_io/zarr_files/safe.js
report/thesis/draw_io/zarr_files/shapes-14-6-5.min.js
report/thesis/draw_io/zarr_files/startup.js
report/thesis/draw_io/zarr_files/stencils.min.js
report/thesis/draw_io/zarr_files/svg.js
report/thesis/draw_io/zarr_files/svg(1).js
report/thesis/draw_io/zarr_files/tex.js
