data/*
.env

te.py

__pycache__/*
*/__pycache__/*
*/*/__pycache__/*

*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

experiments/.DS_Store

experiments/*/*.pt
experiments/*
datasets/
files/*
!files/configs/

files/configs/fix.yaml

mnt/
exports/dataset_viewer/all_samples.png
exports/julian_day_enc/julian_day.png
exports/transformer_plots/2d_vectors_and_relative.png
exports/model_evaluation/model_train_compare.png
exports/model_evaluation/model_train_seq.png
exports/model_evaluation/benchmarks.parquet
exports/model_evaluation/lead_lift.png
exports/model_evaluation/seq_lift.png
